* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-size: 16px;
}

.fa-arrow-left,
.fa-arrow-right {
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 3rem;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
  color: rgba(255, 255, 255, 0.6);
}

.fa-play-circle,
.fa-pause-circle {
  color: rgba(255, 255, 255, 0.3);
  font-size: 40vh;
}

.slides {
  position: relative;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -99;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 40px;
  color: #fff;
}

.active {
  opacity: 1;
  z-index: 2;
}

.control-prev, .control-pause, .control-next {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.control-prev {
  width: 10%;
}

.control-prev:hover, .control-prev:focus {
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(45%, rgba(121, 9, 79, 0)), to(rgba(167, 253, 249, 0.1)));
  background: -o-linear-gradient(left, #020024 0%, rgba(121, 9, 79, 0) 45%, rgba(167, 253, 249, 0.1) 100%);
  background: linear-gradient(90deg, #020024 0%, rgba(121, 9, 79, 0) 45%, rgba(167, 253, 249, 0.1) 100%);
}

.control-pause {
  top: calc(50% - 20vh);
  left: calc(50% - 20vh);
  height: 0;
  padding: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

.control-pause:hover, .control-pause:focus {
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

.control-pause span {
  position: absolute;
  display: block;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  opacity: 0;
}

.control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10%;
}

.control-next:hover, .control-next:focus {
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  background: #020024;
  background: -webkit-gradient(linear, right top, left top, from(#020024), color-stop(45%, rgba(121, 9, 79, 0)), to(rgba(167, 253, 249, 0.1)));
  background: -o-linear-gradient(right, #020024 0%, rgba(121, 9, 79, 0) 45%, rgba(167, 253, 249, 0.1) 100%);
  background: linear-gradient(270deg, #020024 0%, rgba(121, 9, 79, 0) 45%, rgba(167, 253, 249, 0.1) 100%);
}

.indicators {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  list-style-type: none;
  z-index: 2;
}

.indicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgba(167, 253, 249, 0.2);
}

.indicator:hover {
  cursor: pointer;
  background-color: rgba(70, 243, 70, 0.5);
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

.indicator.active {
  background-color: rgba(70, 243, 70, 0.7);
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}
